@model HouseFilterModel

<h1>Appartments</h1>
<form asp-action="ListFiltered" method="post">
    <div class="row mt-3">
        <div class="form-group ml-2">
            @Html.DropDownListFor(model => model.FilterByCityName, new SelectList(Model.Cities), "All Cities", new { @class = "form-control-sm" })
        </div>
        <div class="form-group ml-2">
            @Html.DropDownListFor(model => model.FilterByCompanyId, new SelectList(Model.Companies, "CompanyId", "Name"), "All Companies", new { @class = "form-control-sm" })
        </div>
        <div class="form-group ml-2">
            @Html.DropDownListFor(model => model.FilterByBrokerId, new SelectList(Model.Brokers, "BrokerId", "FullName"), "All Brokers", new { @class = "form-control-sm" })
        </div>
        <div>
            <input type="submit" value="Filter" class="btn btn-sm btn-outline-primary ml-2" />
        </div>
    </div>
</form>

<p>
    <a asp-action="DisplayCreate">Add New Appartment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>City</th>
            <th>Address</th>
            <th>Company</th>
            <th>Broker</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Houses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Broker)
            </td>
            <td>
                @Html.ActionLink("Edit", "DisplayEditAppartment", new { houseId=item.FlatId }) |
                @Html.ActionLink("Details", "DetailAppartment", new { houseId = item.FlatId}) |
                @Html.ActionLink("Delete", "DeleteAppartment", new { houseId=item.FlatId })
            </td>
        </tr>
}
    </tbody>
</table>
