@model BrokerHousesModel

@{
    ViewData["Title"] = "Index";
}
<h1>Appartments of @Model.BrokerName</h1>
<p>
    <a asp-action="Index">Back To Brokers List</a>
</p>
<p>

    @Html.ActionLink("Assign New Appartment to Broker", "DisplayPossibleAppartments", "Broker", new { brokerId = Model.BrokerId }, new { @class = "btn btn-sm btn-outline-primary mt-2 mb-2" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>City</th>
            <th>Address</th>
            <th>Company</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Houses)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveAppartmentFromBroker", new { houseId=item.FlatId, brokerId=item.BrokerId })
            </td>
        </tr>
        }
    </tbody>
</table>
